.join {
  padding-top: 200px;

  h2 {
    margin-top: 100px;
    font-size: $h2;
    text-align: center;
    margin-bottom: 60px;
  }

  .table-box {
    width: 800px;
    margin-left: auto;
    margin-right: auto;

    h3 {
      margin-bottom: 20px;
    }
  }

  .form-table {
    border-top: 3px solid #333;
    width: 100%;
    border-collapse: collapse;

    th {
      background-color: #ccc;
      padding: 20px; // 요소 1개 : all, 2개 : horizontal, vertical, 4개 : t b l r
    }

    td {
      padding: 20px;

      input[type="text"],
      input[type="password"] {
        height: 40px;
        padding: 0px 20px;
      }

      .input-box {
        margin-top: 10px;
      }
    }
  }

  .btn {
    height: 40px;
    padding: 0 20px;
    background-color: #111;
    color: #fff;
    vertical-align: top;
  }
}
