@import "./vars";
@import "./mixin";
@import "./common";
@import "./header";
@import "./main-visual";
@import "./form";

#logo {
  height: 80px;
  width: 80px;
}

#sub-logo {
  height: 24px;
  width: 24px;
}
