<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Members</title>
</head>
<body>

<h3>Member List</h3>
<table>
    <thead>
    <tr>
        <td>Index</td>
        <td>UserName</td>
        <td>UserId</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}"
        th:onclick="|location.href='@{/member/{param}(param=${member.idx})}'|">
        <td th:text="${member.idx}">index</td>
        <td th:text="${member.userName}">userName</td>
        <td th:text="${member.userId}">userId</td>
    </tr>
    </tbody>
</table>

<a href="/signin">Go to SignIn</a>

</body>
</html>