* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // width에 padding값과 border를 포함하는 값이다.
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background: none;
  border: none;
}
