* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat";
  font-size: 16px;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

button {
  background: none;
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
body .btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0;
  gap: 10px;
  font-size: 24px;
  color: #fff;
}
body .btns .btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #666;
}
body .btns .btn-on {
  background-color: #f00;
}
body .paper-wrap {
  width: 370px;
  margin: auto;
  min-height: 390px;
  overflow: hidden;
  position: relative;
}
body .paper-wrap:before {
  content: "GOOD \aLUCK";
  white-space: pre;
  display: block;
  color: #fff;
  font-size: 24px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
}
body .paper {
  min-height: 370px;
  background-color: #fff;
  transform: translateY(-110%);
  position: relative;
}
body .paper.on {
  transition: all 1s ease;
  transform: translateY(0);
}
body .paper:after {
  background: linear-gradient(-45deg, transparent 16px, #fff 0), linear-gradient(45deg, transparent 16px, #fff 0);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 10px 20px;
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: -18px;
}
body .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding: 16px;
  background: #fff;
}
body .list li {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
body .list li.orange {
  background-color: rgb(251, 196, 0);
  text-shadow: 1px 1px 0 #c89c00,2px 2px 0 #c89c00,3px 3px 0 #c89c00,4px 4px 0 #c89c00,5px 5px 0 #c89c00,6px 6px 0 #c89c00,7px 7px 0 #c89c00,8px 8px 0 #c89c00,9px 9px 0 #c89c00,10px 10px 0 #c89c00;;
}
body .list li.blue {
  background-color: rgb(105, 200, 242);
  text-shadow: 1px 1px 0 #3ab7ee,2px 2px 0 #3ab7ee,3px 3px 0 #3ab7ee,4px 4px 0 #3ab7ee,5px 5px 0 #3ab7ee,6px 6px 0 #3ab7ee,7px 7px 0 #3ab7ee,8px 8px 0 #3ab7ee,9px 9px 0 #3ab7ee,10px 10px 0 #3ab7ee;;
}
body .list li.red {
  background-color: rgb(255, 114, 114);
  text-shadow: 1px 1px 0 #ff3f3f,2px 2px 0 #ff3f3f,3px 3px 0 #ff3f3f,4px 4px 0 #ff3f3f,5px 5px 0 #ff3f3f,6px 6px 0 #ff3f3f,7px 7px 0 #ff3f3f,8px 8px 0 #ff3f3f,9px 9px 0 #ff3f3f,10px 10px 0 #ff3f3f;;
}
body .list li.gray {
  background-color: rgb(170, 170, 170);
  text-shadow: 1px 1px 0 #919191,2px 2px 0 #919191,3px 3px 0 #919191,4px 4px 0 #919191,5px 5px 0 #919191,6px 6px 0 #919191,7px 7px 0 #919191,8px 8px 0 #919191,9px 9px 0 #919191,10px 10px 0 #919191;;
}
body .list li.green {
  background-color: rgb(176, 216, 64);
  text-shadow: 1px 1px 0 #96be27,2px 2px 0 #96be27,3px 3px 0 #96be27,4px 4px 0 #96be27,5px 5px 0 #96be27,6px 6px 0 #96be27,7px 7px 0 #96be27,8px 8px 0 #96be27,9px 9px 0 #96be27,10px 10px 0 #96be27;;
}