* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat";
  font-size: 16px;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

button {
  background: none;
  border: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.list {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.list li {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f00;
  color: #fff;
  border-radius: 100px;
}