<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<h2 sec:authorize="isAuthenticated()">Hello</h2>
<h2 sec:authorize="isAuthenticated()" sec:authentication="name">
    username
</h2>

<a href="/login" sec:authorize="!isAuthenticated()">Login</a>
<a href="/oauth2/authorization/google" sec:authorize="!isAuthenticated()">Google Login</a>
<form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
    <button type="submit">Log Out</button>
</form>

<a href="/signup" sec:authorize="!isAuthenticated()">Sign Up</a>

<a href="/board/write">Write Board</a>

<hr/>
<div th:each="board: ${boardList}"
     th:boardId="${board.id}"
     th:onclick="moveToBoardDetail(this.getAttribute('boardId'))">
    <p th:text="${board.member.username}">username</p>
    <h3 th:text="${board.title}">title</h3>
    <p th:text="${board.content}">content</p>
    <hr/>
</div>

<div>
    <th:block th:if="${pageDto.isPrevious()}">
        <button
                th:page="${pageDto.startPage - 1}"
                th:onclick="movePage(this.getAttribute('page'))"><<
        </button>
    </th:block>
    <th:block th:each="page : ${#numbers.sequence(pageDto.startPage, pageDto.endPage)}">
        <button th:page="${page}"
                th:onclick="movePage(this.getAttribute('page'))"
                th:text="${page}"
                th:style="${pageDto.currentPage == page} ? 'background-color: yellow' : 'background-color: none'">
            page
        </button>
    </th:block>
    <th:block th:if="${pageDto.isNext()}">
        <button
                th:page="${pageDto.endPage + 1}"
                th:onclick="movePage(this.getAttribute('page'))">>>
        </button>
    </th:block>
</div>

<script th:inline="javascript">

    function movePage(page) {
        location.href = `/?page=${page}`;
    }

    function moveToBoardDetail(boardId) {
        location.href = `/board/${boardId}`;
    }
</script>

</body>
</html>