<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<h2 sec:authorize="isAuthenticated()"
    sec:authentication="name">username</h2>

<h2 sec:authorize="!isAuthenticated()">
    <a href="/login">Login</a>
</h2>

<h2 sec:authorize="isAuthenticated()">
    <a href="/logout">LogOut</a>
</h2>

<h2>
    <a href="/signup">Sign Up</a>
</h2>

<h2>
    <a href="/mypage">My Page</a>
</h2>

<h2>
    <a href="/admin">Admin</a>
</h2>

</body>
</html>