* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // width에 padding 값과 border를 포함함
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #111;
  font-size: 16px;
  min-height: 200vh;
}

button {
  background: none;
  border: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  h2 {
    padding-bottom: 24px;
  }
}
