header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100px;
  border-bottom: 1px solid #111;
  overflow: hidden;
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 0, 0.2);

  &:hover {
    height: 300px;
    .sub-menu {
      flex-basis: auto;
    }
  }

  .gnb {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    .logo {
      width: 160px;
      margin: 36px 8px;
      flex-shrink: 0;
    }

    .icons {
      width: 160px;
      margin: 36px 8px;
      display: flex;
      justify-content: space-around;
      flex-shrink: 0;
    }

    .menu {
      flex-grow: 1;
      margin-top: 36px;

      > ul {
        display: flex;
        justify-content: center;

        // main-menu
        > li {
          margin-left: 8px;
          margin-right: 8px;
          text-align: center;

          > h2 {
            font-size: 14px;
            color: #111;
            padding: auto;
            background-image: linear-gradient(#111 0 0);
            background-position: bottom left;
            background-size: 0% 2px;
            background-repeat: no-repeat;
            padding-bottom: 4px;
            transition: background-size 0.5s ease;
          }

          &:hover > h2 {
            background-size: 100% 2px;
          }
        }

        .sub-menu {
          padding-top: 36px;
          font-size: 14px;
          overflow: hidden;

          li {
            color: grey;
            padding: 4px;

            &:hover a {
              color: yellow;
            }
          }
        }
      }
    }
  }
}

.hide-header {
  height: 0;
  border-bottom: 0px solid #111;
}
