.main-visual {
  overflow: hidden;

  .swiper-wrapper {
    display: flex;

    .swiper-side {
      display: flex;
      justify-content: center;
      align-items: center;

      .txt-box {
        text-align: center;
      }

      .img-box {
        margin: auto auto;
      }
    }
  }
}
