<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>
<div th:replace="~{components/header}"></div>

<main class="container form-signin w-100 m-auto">
    <form action="/member/signin" method="post" th:object="${memberDto}">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input type="text" th:field="*{username}" class="form-control" name="username" id="username" placeholder="Username">
            <label for="username">Username</label>
            <div class="text-danger" th:errors="*{username}">username error</div>
        </div>
        <div class="form-floating">
            <input type="password" th:field="*{password}" class="form-control" name="password" id="password" placeholder="Password">
            <label for="password">Password</label>
            <div class="text-danger" th:errors="*{password}">password error</div>
        </div>

        <button class="btn btn-primary w-100 py-2 my-2" type="submit">Sign in</button>
    </form>
</main>

</body>
</html>