<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<h1 sec:authorize="isAuthenticated()"
    sec:authentication="name">username</h1>

<h2>
    <a href="/login">Login</a>
</h2>
<h2>
    <a href="/signup">Sign Up</a>
</h2>
<h2>
    <a href="/board/list">Board List</a>
</h2>
<h2>
    <a href="/mypage">My Page</a>
</h2>
<h2>
    <a href="/admin">Admin</a>
</h2>

</body>
</html>