<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>

<form action="/signin" method="post">
    <label for="userId">User ID</label>
    <input type="text" name="userId" id="userId">
    <label for="userName">User Name</label>
    <input type="text" name="userName" id="userName">
    <label for="password">PassWord</label>
    <input type="password" name="password" id="password">
    <label for="birth">Birth</label>
    <input type="date" name="birth" id="birth">

    <button>Sign In</button>
</form>
</body>
</html>